<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <form action="/cvradminauth" method="post">
      <label for="secretkey">Enter the secret key</label>
      <input type="password" name="secretkey" id="secretkey" />
    </form>
  </body>
</html>
