<% layout("/layouts/boilerplate")-%>

<body>
  <form action="/subjects/<%= subject._id %>?_method=PUT" method="POST">
    <label for="">Subject Name</label>
    <input type="text" name="subject[subname]" value="<%= subject.subname %>" />
    <br />
    <label for="">Subject Code</label>
    <input type="text" name="subject[subcode]" value="<%= subject.subcode %>" />
    <br />
    <label for="">Subject Type</label>
    <input type="text" name="subject[subtype]" value="<%= subject.subtype %>" />
    <button>update & save</button>
  </form>
</body>
<!-- this page is to edit the information of a particular subject -->
