<% layout("/layouts/boilerplate")-%>

<body style="height: 100vh; background-color: #182527">
  <div
    class="container-fluid d-flex justify-content-center align-items-center"
    style="height: 100vh; margin-top: -50px"
  >
    <div class="row">
      <!-- Image Column -->
      <div class="col-md-6">
        <img
          src="http://localhost:8080/rfp-main/views/main/frontimg.png"
          alt="Image"
          style="max-width: 100%; height: auto; border-radius: 40px 0 0 40px"
        />
      </div>
      <!-- Text Column -->
      <div class="col-md-6">
        <div class="card text-center p-5" style="background-color: #20cd8d">
          <div class="card-body">
            <h1 class="card-title">
              Welcome To Faulty Workload Management System
            </h1>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>